@font-face {
  font-family: "Google Sans Regular";
  src: url(assets/fonts/GoogleSans-Regular.ttf) format("truetype");
}

:root {
  --mdui-color-primary-light: 82, 95, 119 !important;
  --mdui-color-primary-dark: 186, 199, 227 !important;
  --mdui-color-secondary-container-light: 214, 227, 255 !important;
  --mdui-color-on-secondary-container-light: 15, 28, 49 !important;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  --shape-corner: var(--mdui-shape-corner-extra-large);
}
