@font-face {
  font-family: "Google Sans Regular";
  src: url(../assets/fonts/GoogleSans-Regular.ttf) format("truetype");
}

:root {
  --mdui-color-primary-light: 82, 95, 119;
  --mdui-color-primary-dark: 186, 199, 227;
  --mdui-color-on-primary-dark: 32, 33, 36;
  --mdui-color-secondary-container-light: 214, 227, 255;
  --mdui-color-secondary-container-dark: 59, 71, 94;
  --mdui-color-on-secondary-container-light: 15, 28, 49;
  --mdui-color-on-secondary-container-dark: 224, 226, 236;
  --mdui-color-surface-container-low-dark: 33, 34, 40;
  --mdui-color-background-dark: 27, 27, 31;
}

mdui-button{
  line-height: normal;
}

:not(:defined) {
  visibility: hidden;
}

body {
  display: flex;
  justify-content: center;
  margin: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.card {
  width: 100%;
  padding: 30px;
  margin-bottom: 15px;
  --shape-corner: var(--mdui-shape-corner-extra-large);
  box-shadow: var(--mdui-elevation-level0);
}

.card p {
  margin-top: auto;
  margin-bottom: auto;
}

.card p.tp {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.card p.tp .ti {
  margin-right: 3px;
  vertical-align: middle;
}

.card .bg {
  text-align: right;
  margin-top: 15px;
}
